
<div class="container">
<form #registerForm="ngForm" class="center" (ngSubmit)="posts(registerForm.value)">
    
    <input type="text" [(ngModel)]="name" read-only ngModel name="name" id="name" placeholder="Enter Your Name"><br><br>
    <textarea type="text" class="textarea" ngModel [(ngModel)]="post" name="post" id="post" placeholder="post"></textarea><br><br>
    <input type="submit">
</form>
</div>

<div class="container" *ngFor="let post of users | async;let i = index">
    <div class="jumboron bg-dark text-white center" *ngIf= "post">
<h1><b> {{post.name}}</b></h1>
<p>{{post.post}}</p>
<td  class="high"><button class="btn-primary" (click)="del(post.post)">Delete</button></td>
<hr>
    </div>
</div>