*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }

  .container{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
  }
  .wrapper{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
  }

  .wrapper .title{
    height: 90px;
    background: #CCCC99;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper form{
    padding: 30px 25px 25px 25px;
  }
  .wrapper form .row{
    height: 45px;

    position: relative;
  }
  .wrapper form .row input{
    height: 100%;
    width: 100%;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
   
  }